.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}


body:before, body:after {
    content: "";
    position: fixed;
    background: yellow;
    height: 10px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 10px solid yellow;
    border-right: 10px solid yellow;  
}

#sophie {
  padding-top: 250px;
  font-family: 'Abril Fatface';
  font-size: 80px;
  color: white;
  display: inline-block;
}

#bitches {
  font-family: 'Abril Fatface';
  font-size: 80px;
  color: yellow;
  display: inline-block;
  }
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.centered-table{
  vertical-align: center;
}
/* Main marketing message and sign up button */

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

button{
  border-radius: 50%;
  border: 5px solid #33bebe;
  outline: none;
}

.yellow{
  border: 5px solid yellow;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* table formatting */

th, td {
    padding: 15px;
}

/* turn off horizontal scrolling*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*audio formatting */


audio {
    display: none;
}

/*picture formatting*/ 

#icon {
  width: 200px;
  height: 200px;
}

#header-icon{
  width:200px;
  height:300px;
}

.jumbotron{
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 20px;
}

.jumbo-container{
    height: 100vh;
    background-color: #33bebe;
}
.jumbo-container h1{
    padding-top: 250px;
}
img{
  height: 200px;
  width: 200px;
  border-radius: 50%
}

.table-container{
  margin-left: 12%;
  margin-right: 0%;
}

.footer .container {
  text-align: center;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}