<div class="jumbotron">
  <div class="jumbo-container">
    <div class="container">
      <div id="sophie">sophie</div>
      <div id="bitches">Bitches</div>
    </div>
  </div>
</div>
<div class="container">
 <audio controls id="fuckingDelight" >
  <source src="../sophieTalks/I'm a fucking delight.mp3" controls="true" type="audio/mpeg">
</audio>
 <audio controls id="icedChai" >
  <source src="sophieTalks/icedChai.mp3" controls="true" type="audio/mpeg">
</audio>
 <audio controls id="dasSomean" >
  <source src="sophieTalks/dasSomean.mp3" controls="true" type="audio/mpeg">
</audio>
 <audio controls id="tempurpedic" >
  <source src="sophieTalks/Tempurpedic.mp3" controls="true" type="audio/mpeg">
</audio>
 <audio controls id="parks" >
  <source src="sophieTalks/parks.mp3" controls="true" type="audio/mpeg">
</audio>
 <audio controls id="canUNot" >
  <source src="sophieTalks/canyouNot.mp3" controls="true" type="audio/mpeg">
</audio>
 <table>
   <tr>
    <td>
      <img src="images/sophie1" ng-click="main.fuckingDelight()">
    </td>
    <td>
     <img src="images/sophie2" ng-click="main.icedChai()">
    </td>
    <td>
     <img src="images/sophie3" ng-click="main.dasSoMean()">
    </td>
    </tr>
    <tr>
     <td>
      <img src="images/sophie4" ng-click="main.tempurpedic()">
    </td>
     <td>
      <img src="images/sophie6" ng-click="main.parks()">
    </td>
     <td>
      <img src="images/sophie7" ng-click="main.canUNot()">
    </td>
   </tr>
   <tr>
     <td>
      <img src="images/bananaSophie.jpg">
    </td>
     <td>
      <img src="images/doubleChinSophie.PNG">
    </td>
     <td>
      <img src="images/sophie5.jpeg">
    </td>
   </tr>
 </table>
 </div>
