<div class="jumbotron">
  <div class="jumbo-container">
    <div class="container">
      <h1>sophieBitches</h1>
    </div>
  </div>
</div>
<div class="container">
 <audio controls id="fuckingDelight" >
  <source src="../sophieTalks/I'm a fucking delight.mp3" controls="true" type="audio/mpeg">
</audio>
 <audio controls id="icedChai" >
  <source src="../sophieTalks/icedChai.mp3" controls="true" type="audio/mpeg">
</audio>
 <audio controls id="dasSomean" >
  <source src="../sophieTalks/dasSomean.mp3" controls="true" type="audio/mpeg">
</audio>
 <audio controls id="tempurpedic" >
  <source src="../sophieTalks/Tempurpedic.mp3" controls="true" type="audio/mpeg">
</audio>
 <audio controls id="parks" >
  <source src="../sophieTalks/parks.mp3" controls="true" type="audio/mpeg">
</audio>
 <audio controls id="canUNot" >
  <source src="../sophieTalks/canyouNot.mp3" controls="true" type="audio/mpeg">
</audio>
 <table>
   <tr>
    <td>
      <img id="icon" ng-src="images/sophie1" ng-click="main.fuckingDelight()"> 
    </td>
    <td>
     <img id="icon" src="images/sophie2" ng-click="main.icedChai()">
    </td>
    <td>
     <img id="icon" src="images/sophie3" ng-click="main.dasSoMean()">
    </td>
    </tr>
    <tr>
     <td>
      <img id="icon" src="images/sophie4" ng-click="main.tempurpedic()">
    </td>
     <td>
      <img id="icon" src="images/sophie6" ng-click="main.parks()">
    </td>
     <td>
      <img id="icon" src="images/sophie7" ng-click="main.canUNot()">
    </td>
   </tr>
   <tr>
     <td>
      <img id="icon" src="images/bananaSophie.jpg">
    </td>
     <td>
      <img id="icon" src="images/fatSophie.PNG">
    </td>
     <td>
      <img id="icon" src="images/UglySophie1.JPG">
    </td>
   </tr>
 </table>
 </div>

