<div class="jumbotron">
  <h1>sophieBitches</h1>
  <p class="lead">
    <img id="header-icon" src="images/sophie5.jpeg" alt="I'm Yeoman"><br>
  </p>
<!--   <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
 -->
 </div>
 <table>
   <tr>
    <td>
      <img id="icon" src="images/sophie1">
    </td>
    <td>
     <img id="icon" src="images/sophie2">
    </td>
    <td>
     <img id="icon" src="images/sophie3">
    </td>
    </tr>
    <tr>
     <td>
      <img id="icon" src="images/sophie4">
    </td>
     <td>
      <img id="icon" src="images/sophie6">
    </td>
     <td>
      <img id="icon" src="images/sophie7">
    </td>
   </tr>
   <tr>
     <td>
      <img id="icon" src="images/sophie4">
    </td>
     <td>
      <img id="icon" src="images/sophie6">
    </td>
     <td>
      <img id="icon" src="images/sophie7">
    </td>
   </tr>
 </table>

